<h1 class = "account-info-h1">Account Info <i class="fa-solid fa-id-card"></i></h1>
<div class="account-id">
    <div class="account-id-card">
      <div class="account-id-details"><i class="fa-solid fa-circle-user"></i><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></div>
      <div class="account-id-details"><i class="fa-solid fa-envelope"></i>Email: <%= @user.email %></div>
      <div class="account-id-details"><i class="fa-solid fa-id-badge"></i> ID: <%= @user.id %></div>
      <div class="account-id-details"><i class="fa-solid fa-user-check"></i>Status: <%= @user.status.capitalize %></div>
      <div class="account-id-details"><i class="fa-solid fa-calendar"></i> Joined: <%= @user.created_at.strftime("%B %d, %Y") %></div>
      <div class="account-id-details"><i class="fa-solid fa-location-dot"></i>Location: <%= @user.location.capitalize %></div>
      <div class="account-id-details"><i class="fa-solid fa-phone"></i>Phone: <%= @user.phone %></div>
    </div>
</div>
