<div class="main-container">
  <div class="user-info">
    <i class="fa-solid fa-envelope"></i>&nbsp;<%= current_user.email %> 
    <span class="uid">UID: <%= current_user.id %></span>
  </div>
  <div class="user-status"><i class="fa-solid fa-user-check user-icon"></i>&nbsp; <%= current_user.status.capitalize %></div>

  <!-- Assets Overview Card -->
  <div class="dashboard-container">
    <div class="dashboard-container-card">
      <div class="card-header">
        <h2>Assets Overview <i class="fa-solid fa-eye eye-icon"></i></h2>
      </div>
      <div class="asset-details">
        <p class="asset-label">Total Assets(Stocks)</p>
        <p class="asset-value"><%= number_with_precision(@total_value, precision: 2, delimiter: ',') %> <span class="usd">USD</span></p>
        <p class="asset-label">Fiat Balance</p>
        <p class="asset-value"><%= number_with_precision(@balance, precision: 2, delimiter: ',') %> <span class="usd">USD</span></p>
        <p class="asset-label">Profit/Loss (on Fiat)</p>
        <p class="asset-value <%= @fiat_pnl >= 0 ? 'profit-green' : 'sell-red' %>">
          <%= number_with_precision(@fiat_pnl, precision: 2, delimiter: ',') %>
          <span class="usd">USD</span>
        </p>

        <div class="button-group">
          <%= link_to 'Deposit', new_holding_path, class: "btn dark" %>
          <%= link_to "Buy Stocks", buy_trades_path, class: "btn" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Section -->
  <div class="portfolio-container">
    <% if @holdings.any? %>
      <div class="card">
      <p class="portfolio-header">📊 My Portfolio</p>
        <table class="portfolio-table">
          <thead>
            <tr>
              <th>Stock</th>
              <th>Quantity</th>
              <th>Total Value</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @holdings.each do |holding| %>
              <tr>
              <td>
                <%= image_tag "https://assets.parqet.com/logos/symbol/#{holding.symbol}", alt: "#{holding.symbol} logo", class: "stock-logo" %>
                <%= holding.symbol %></td>
                <td><%= holding.total_quantity %></td>
                <td><%= holding.total_value %> USD</td>
                <td>
                  <%= link_to "Sell", sell_trades_path(symbol: holding.symbol), class: "btn btn-secondary", data: { confirm: "Sell #{holding.symbol}?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No holdings available.</p>
    <% end %>
  </div>
</div>
