<div class="holding-new-container">
  <div class="deposit-wrapper">
    <div class="holding-new-section-header">
      <h1 class ="deposit-funds">Deposit USD</h1>
      <p>Top up your account to start trading confidently.</p>
    </div>
  </div>
  
    <div class="holding-new-right-card">
      <%= form_with url: holdings_path, method: :post do %>
        <div class="deposit-form-group">
          <%= label_tag :balance, "Deposit Amount (USD)" %>
          <%= number_field_tag :balance, params[:balance], step: 0.01, class: "input", placeholder: "Amount (USD)" %>
        </div>
        <div class="deposit-form-group">
          <%= label_tag :payment_method, "Payment Method" %>
          <%= select_tag :payment_method, options_for_select(['Credit Card', 'Gcash', 'Maya', 'Bank Transfer']), class: "input" %>
        </div>
        <div class="deposit-form-actions">
          <%= submit_tag "Deposit", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="price-display">
        <p><strong>Available Balance:</strong> <span class="price"><%= number_with_precision(@balance, precision: 2, delimiter: ',') %> USD </span></p>
      </div>
    </div>
</div>
  
<div class="link-home">
  <%= link_to "â† Back to Portfolio", holdings_path %>
</div>