<h1 class = "account-info-h1">Account Info <i class="fa-solid fa-id-card"></i></h1>
<p><%= link_to "Edit this account", edit_admin_user_path(@user)%></p>
<div class="account-id">
    <div class="account-id-card">
      <div class="account-id-details"><i class="fa-solid fa-envelope"></i> <%= @user.email %></div>
      <div class="account-id-details"><i class="fa-solid fa-id-badge"></i> ID: <%= @user.id %></div>
      <div class="account-id-details"><i class="fa-solid fa-user-check"></i> <%= @user.status.capitalize %></div>
      <div class="account-id-details"><i class="fa-solid fa-calendar"></i> Joined <%= @user.created_at.strftime("%B %d, %Y") %></div>
    </div>
</div>
