<div class = "flex">
    <div class="section-header">
      <h1>Buy Stocks</h1>
      <p>Choose stock and quantity to make a purchase.</p>
    </div>
  <div class="container">
    <!-- Check Price Form -->
    <div class="card">
      <h2>Check Current Price</h2>
      <p class ="caption">Please check price before proceeding.</p>
      <%= form_with url: fetch_buy_price_trades_path, method: :get, local: true do |form| %>
        <div class="form-group">
          <%= form.label :symbol, "Stock" %>
          <%= form.select :symbol, options_for_select(STOCKS_CONFIG[:allowed_stocks], params[:symbol]), { prompt: "(Select stock)" }, { class: "input"} %>
        </div>
        <div class="form-actions">
          <%= form.submit "Check Price", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <% if @stock_price.present? %>
        <div class="price-display">
          <p><strong><%= @symbol %> Buy Price:</strong></p>
          <p class="price"><%= number_to_currency(@stock_price.to_f) %></p>
        </div>
      <% end %>
    </div>
    <!-- Buy Stock Form -->
    <div class="card">
      <h2>Buy Stocks</h2>
      <%= form_with model: @holding, url: buy_trades_path, method: :post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :quantity, "Quantity" %>
          <%= f.number_field :quantity, placeholder:"Amount (#{@symbol})", class: "input", id: "quantity-input"  %>
          <p>Available Balance:<strong>$<%= number_with_precision(@balance, precision: 2, delimiter: ',')%></strong> 
          <%= link_to new_holding_path do %>
            <i class="fa-solid fa-square-plus add-balance"></i>
          <% end %>
        </div>

        <% if @symbol.present? %>
          <%= f.hidden_field :symbol, value: @symbol %>
        <% end %>
        <%= f.hidden_field :buy_price, value: @stock_price, id: "buy-price", data: { buy_price: @stock_price }  %>

        <div class="form-actions">
          <%= f.submit "Buy Stock", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <div class="link-home">
      <%= link_to 'â† Back to Holdings', holdings_path %>
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const quantityInput = document.getElementById("quantity-input");
    const buyPriceField = document.getElementById("buy-price");
    const orderValueDisplay = document.getElementById("order-value");

    if (quantityInput && buyPriceField && orderValueDisplay) {
      const buyPrice = parseFloat(buyPriceField.dataset.buy_price);

      quantityInput.addEventListener("input", function() {
        const quantity = parseInt(quantityInput.value, 10);
        const orderValue = (isNaN(quantity) || quantity < 0) ? 0 : quantity * buyPrice;
        orderValueDisplay.textContent = orderValue.toFixed(2);
      });
    }
  });
</script>
