<div class="container">
  <div class="section-header">
    <h1>Sell Stock</h1>
    <p>Select a stock and quantity to sell.</p>
  </div>

   <!-- Check Price Form -->
  <div class="card">
    <h2>Check Sell Price</h2>
    <%= form_with url: fetch_sell_price_trades_path, method: :get, local: true do |form2| %>
      <div class="form-group">
        <%= form2.label :symbol, "Select Stock" %>
        <%= form2.select :symbol, options_for_select(@holdings.pluck(:symbol)), { class: "input", required: true } %>
      </div>

      <div class="form-actions">
        <%= form2.submit "Check Price", class: "btn btn-primary" %>
      </div>
    <% end %>

    <% if @stock_price.present? %>
      <div class="price-display">
        <p><strong><%= @symbol %> Sell Price:</strong></p>
        <p class="price"><%= number_to_currency(@stock_price.to_f) %></p>
      </div>
    <% end %>
  </div>

  <!-- Sell Form -->
  <div class="card">
    <%= form_with url: sell_trades_path, method: :post, local: true do |form| %>
        <div class="form-group">
          <%= form.label :symbol, "Stock" %>
          <%= form.select :symbol, options_for_select(@holdings.pluck(:symbol), params[:symbol]), {}, { required: true, class: "input"} %>
        </div>

        <div class="form-group">
          <%= form.label :quantity, "Quantity" %>
          <div class="input-inline">
            <%= form.number_field :quantity, min: 1, required: true, class: "input", id: "quantity-input", placeholder: "Amount (#{@symbol})" %>
          </div>
          <p>Max Sell&nbsp;<%= @set_holding.total_quantity%>&nbsp;<%= @set_holding.symbol%></p> 
        </div>

        <% if @stock_price.present? %>
          <%= hidden_field_tag :sell_price, @stock_price %>
        <% end %>

        <div class="form-actions">
          <%= form.submit "Sell", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>

  <div class="link-home">
    <%= link_to 'â† Back to Holdings', holdings_path %>
  </div>

</div>

